@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Imbue:opsz,wght@10..100,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nanum+Gothic&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Teko:wght@300..700&display=swap');

body {
	margin: 0;
	margin-top: 10vh;
	padding: 0;
	font-family: "Imbue", sans-serif;

	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Teko", Arial, sans-serif;
}

#logo {
	height: 7vh;
	transform: rotate(-45deg);
}

header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1vh 0;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);

}

header:hover {
	display: flex;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}
nav > p {
	margin: 0;
	color: orange;
	font-size: 1.35vw;
	font-family: "Noto Serif JP";
}
nav > p:first-child {
	color: lightgray;
	font-size: 3vh;
	font-family: "Teko";
}

.rightie {
	display: flex;
	gap: 2vw;
}

.content {
	display: flex;
	justify-content: center;
	
	flex-direction: column;
	margin-bottom: 10vh;
}

/* //////////////////////////////////// */
.content > .menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-position: calc(50% - 25vw) center;
}

.menu:nth-child(odd) {
	background-position: calc(50% + 25vw) center;
}

.menu:last-child {
	margin-bottom: 30vh;
}

h3.category {
	margin-bottom: 0;
	margin-top: 5vh;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.item p {
	margin: 0;
	font-size: x-large;
}

.item:hover {
	color: orange;
}

.item span {
    margin: 0;
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping */
}

.item p:first-child {
	margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
}

/* /////////////////////////// */
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 6.7vh;
	font-family: Helvetica, Arial, sans-serif;
}

.title > h1 {
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
}

.title > h1:first-child {
	margin-top: 16vh;
	font-size: 15vh;
	font-family: "Libre Baskerville", serif;
}

/* /////////////////////////// */
.first, .second, .third {
	padding: 2vh 2vw;
	width: 60vw;
	margin: 2vh auto;
	background-color: #ffffffb2;
	border-radius: 8px;
}

.first > h1 {
	font-size: 3vw;
	margin: 0;
	color: brown;
}

.list_details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list_details > p {
	margin: 0;
	font-size: x-large;
}

.list_details > p > a {
	text-decoration: none;
	color:slateblue;
}

/* ---------- */
.second {
	text-align: center;
	font-family: 'Noto Sans JP';
	color: brown;
	font-size: 7vw;
	padding: 5vh 2vw;
}

/* ---------- */
.third {
	height: 90vh;

	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;

	background-color: black;

	text-align: right;
	color: orange;
	position: relative;

	display: flex;
	flex-direction: column;
	align-items: end;

}

.third > input, .third > textarea, .third > select {
	width: 30vw;
	margin-top: 1vh;
	background-color: rgba(255, 255, 255, 0.40);
	border: none;
	height: 3vh;
	color: moccasin;
}

.third > input:focus, .third > textarea:focus, .third > select:focus {
	background-color: white;
	color: black;
}

input::placeholder, textarea::placeholder {
	color: orange;
	font-family: sans-serif;
}

.third > textarea  {
	height: 10vh;
	margin: 6vh 0;
}

.third > button {
	width: 10vw;
	height: 5vh;
	background-color:tomato;
	color: white;
	border: none;
	border-radius: 8px;
	margin: 6vh 10vw;
}

.third > button:active {
	background-color: white;
	color: tomato;
}

.third > h1 {
	margin: 1vh 10vw;
}

.third > label {
	margin: 0 13vw;
}

.third > label:last-of-type {
	margin: 0 12vw;
	margin-top: 5vh;
}

/**************** ABOUT *************************/
.uno {
	margin: 0;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50vw;
}

.banner  > h3 {
  font-family: "Noto Serif JP";
  font-size: 2.5vw;
  margin: 0;
  transition: color 7s;
}

.banner > h3:hover {
  color: maroon;
}

.banner > div > p {
	margin: 0;
	font-size: 1.5vw;
}

.first-pic {
	width: 100vw;
	margin-bottom: 10vh;
}

.dos {
	display: flex;
	flex-direction: row;
	gap: 2.5vw;
	margin: 0 20vw;
	background-color:#fdf7ee;
	border-radius: 8px;
	width: 65vw;
	margin-bottom: 15vh;
}
.dos > img {
	width: 30vw;
	border-radius: 8px;
}

.dosdiv > h4 {
	font-family: "Nanum Gothic", sans-serif;
	font-size: 2vw;
}

.dosdiv > p {
	width: 30vw;
	font-size: 1vw;
	font-family: sans-serif;
}

.dosdiv > P:last-child {
	font-size: 0.75vw;
	font-family: 'Noto Sans JP', sans-serif;
}

.tres {
	margin: 5vh auto;
	margin-bottom: 10vh;
}

.tres > h2 {
	font-size: 2.5vw;
	font-family: 'Noto Serif JP';
	text-align: center;
}

.tresdiv {
	display: flex;
	gap: 2vw;
}

.card {
	height: 40vh;
	width: 20vw;
	padding: 1vw;
	background-color: white;
	border-radius: 8px;
	-webkit-box-shadow: 10px 10px 43px -29px rgba(0,0,0,0.61);
	-moz-box-shadow: 10px 10px 43px -29px rgba(0,0,0,0.61);
	box-shadow: 10px 10px 43px -29px rgba(0,0,0,0.61);
}

.card > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card p {
	margin: 0;
}

.review-date {
	font-size: 0.9vw;
	color: gray;
}

.review-name{
	font-weight: bold;
	font-family: 'Noto Serif JP', serif;
	font-size: 1.5vw;
}

.review-rating{
	font-family: 'Imbue', serif;
	font-size: 1.8vw;

	color: white;
	border-radius: 50%;
	background-color: orange;
	padding: 0.45vw;
}

.card:last-child > div > .review-rating{
	background-color: brown;
	color: white;
}

.card > p {
	margin-top: 3vh;
	font-family: 'Noto Sans JP', serif;
	font-size: 0.9vw;
}