@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Imbue:opsz,wght@10..100,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Nanum+Gothic&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&family=Teko:wght@300..700&display=swap');
body {
	margin: 0;
	margin-top: 10vh;
	padding: 0;
	font-family: "Imbue", sans-serif;

	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Teko", Arial, sans-serif;
}

#logo {
	height: 7vh;
	transform: rotate(-45deg);
}

header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1vh 0;
	justify-content: space-evenly;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);

}

header:hover {
	display: flex;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1vh;
}
nav > p {
	margin: 0;
	color: orange;
	font-size: 1.35vw;
	font-family: "Noto Serif JP";
}
nav > p:first-child {
	color: lightgray;
	font-size: 3vh;
	font-family: "Teko";
}

.rightie {
	display: flex;
	gap: 2vw;
}

.content {
	display: flex;
	justify-content: center;
	
	flex-direction: column;
}

/* //////////////////////////////////// */
.content > .menu {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	background-position: calc(50% - 25vw) center;
}

.menu:nth-child(odd) {
	background-position: calc(50% + 25vw) center;
}

.menu:last-child {
	margin-bottom: 30vh;
}

h3.category {
	margin-bottom: 0;
	margin-top: 5vh;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;
}

.item p {
	margin: 0;
	font-size: x-large;
}

.item:hover {
	color: orange;
}

.item span {
    margin: 0;
    overflow: hidden;
    white-space: nowrap; /* Prevent text from wrapping */
}

.item p:first-child {
	margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
}

/* /////////////////////////// */
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 6.7vh;
	font-family: Helvetica, Arial, sans-serif;
}

.title > h1 {
	margin: 0;
	font-family: "Noto Sans JP", sans-serif;
}

.title > h1:first-child {
	margin-top: 16vh;
	font-size: 15vh;
	font-family: "Libre Baskerville", serif;
}

